output
outputs
__pycache__
*.DS_Store
data
ckpt
*results
results*
data_public
drug_drug_data
llama-7b-hf
llama-13b-hf
vicuna-7b-delta-v0
vicuna-13b-delta-v0
vicuna-weights
wandb
dataset/tmp_smiles.txt
pipeline/output
convert_llama_weights_to_hf.py
try.py
dataset/smiles_image_0.png
dataset/smiles_image_1.png
dataset/tmp_smiles.pkl